<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.community.mapper.FindMapper">
    <select id="findByEmail" resultType="com.web.community.vo.FindVO">
        SELECT ui_id AS uiId, ui_email AS uiEmail, ui_name AS uiName, ui_nick_name AS uiNickName 
        FROM users WHERE ui_email = #{uiEmail}
    </select>
</mapper>